/* Estilo de la tarjeta que contiene toda información del producto */
.product-card {
    text-align: center;
    height: 400px;
    width: 220px;
    color: white;
    background-color: black;
    
}

/* Contenedor de la imagen */
.image-container-card {
    width: 100%;
    aspect-ratio: 1/1;
}

/* Imagen */
.image-card{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Nombre de la bebida */
.title-card{

}

/* Ingredientes de la bebida */
.ingredientes-card{

}

/* Precio de las bebida */
.precio-card{

}